.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    padding: 10rem 0 0;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .1);
    width: 12rem;
    flex-direction: column;
    background: var(--darkBlue);
}

.navbar-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

.navbar-list .item a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    display: inline-block;
    width: 10rem;
}

.active {
    background: var(--mediumRed);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.sidebar-wrapper {
    margin-left: 12rem;
}

.item:hover {
    transform: scale(1.1);
}

.logout {
    margin-top: 3rem;
    cursor: pointer;
    margin-left: 1rem;
    color: white;
    padding: 0.5rem 1rem;
}

.logout:hover {
    transform: scale(1.1);
}