:root {
  font-synthesis: weight style;

  --darkBlueText: #1d2a54;
  --font-primary: 'DM Sans', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.app-container {
  color: var(--darkBlueText);
  font-family: var(--darkBlueText);
}